.card {
  background: #acb4b4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 0.3s ease;
}

@media (max-width: 820px) {
  .card {
    max-width: 95%;
    padding: 16px;
  }
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333;
}

.card-subtitle {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #222;
}

.card-text {
  font-size: 1rem;
  margin: 0;
  color: #444;
}

.card-footer {
  margin-top: 20px;
}

.card-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  padding-top: 12px;
  gap: 580px;
}

.view-link,
.apply-button {
  white-space: nowrap;
}

.view-link {
  color: #0056b3;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.view-link:hover {
  text-decoration: underline;
  color: #003f88;
}

.apply-button {
  margin-left: auto;
}

.job-details-inside-card {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #ccc;
}

.no-jobs-message {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 20px;
  color: #555;
  font-style: italic;
}

.searchbox {
  margin-bottom: 20px;
  max-width: 500px;
  margin-left: 25vw;
}

.card-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 8px 0;
}

.card-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-status {
  font-size: 14px;
}

.status-label {
  font-weight: bold;
  color: black;
}

.status-value {
  color: green;
  font-weight: normal;
}

.status-rejected {
  color: red;
  font-weight: bold;
}
.status-success {
  color: green;
  font-weight: bold;
}
